html{
  font-family: Helvetica;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");

  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h3{
  font-size: 32px;
  font-weight: bold;
  color:white;

}

h3#brushes{
  background-color: mediumspringgreen;
}

h3#frames{
  background-color: lightcoral;
}

h3#paint{
  background-color: skyblue;
}

.price{
  font-weight: bold;
  color: blue;
}
